<div class="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'Rails Demo', root_path, class:"navbar-brand" %>
      </div>
    </div>
  </nav>
</div>
